{% extends 'BasePage.html' %}

{% block pageTitle %}
關於我們
{% endblock %}

{% block css %}
<link rel='stylesheet' href="/static/css/abouts.css">
{% endblock %}

{% block mainContent %}

<div class="index">
	<h1>關於我們</h1>
	<p>我們的商品包含了即時新聞、產品服務、業務聯絡，會在每一天時時更新。</p>
	<div class="main">
		<a href="/news" class="news"><h1>新聞時事->點我查看更多</h1></a>
			<p>這裡有最即時有趣的新聞</p>
				{% for row in allnews %}
					<div class="content">
						<p>{{ row.title }}</p>
						<a href="{{ row.link }}"><img src="{{ row.photo }}"></a>
					</div>
				{% endfor %}
			
	</div>
	<div class="main">
		<a href="/product" class="product"><h1>產品資訊->點我查看更多</h1>
			<p>這裡有最即時最新的各式商品</p></a>
				{% for row in allproduct %}
					<div class="content">
						<a href="{{ row.good_url }}"><img src="{{ row.photo_url }}">
						<p>{{ row.name }}</p></a>
						<p>NT:{{ row.price }}</p>
					</div>
				{% endfor %}
	</div>

	<div class="main">
		<a href="/message" class="message"><h1>業務聯絡</h1>
			<p>如果有任何問題，歡迎點擊回覆給我們!!</p></a>
	</div>
</div>





{% endblock %}