{% extends 'BasePage.html' %}

{% block pageTitle %}
購物車內容
{% endblock %}

{% block css %}
<link href='/static/css/cart.css' rel='stylesheet'>
{% endblock %}


{% block mainContent %}

<!-- 刪除商品的函式 ; confirm 詢問是否確認 -->
<script>
	
	function confirmLink(message){
		document.returnValue = confirm(message);
	}

</script>



<div style="margin-top: 50px;"></div>

<div id='maindiv'>

	<form action='/addtocart/update/' method="post" name="form1" id='form1'>
		<!-- 使用 form 表單且使用 method='post' 要使用 csrf_token -->
		{% csrf_token %}

		<table width="90%" border="0" align="center" cellpadding='4' cellspaceing='0'>
			<tr>
				<th width="60" align="center"><strong>取消</strong></th>
				<th align="left"><strong>商品名稱</strong></th>
				<th width='80' align="center"><strong>單價</strong></th>
				<th width="80" align="center"><strong>數量</strong></th>
				<th width="100" align="center"><strong>金額</strong></th>
			</tr>

			{% for unit in allcart %}

			<!--
				forloop 變亮及屬性			
	
				forloop.counter 由 1 開始遞增到總數為止

				forloop.counter0 由 0 開始遞增到總數為止

				forloop.revcounter 由串列的總數開始遞減到 1 

				forloop.revcounter0 由串列的總數遞減到 0 


				forloop.first 判斷是否是第一次 for 迴圈，回覆值為: True 或 False
				
				forloop.last 判斷是否是最後一次 for 迴圈，回覆值為: True 或 False


			-->

				<tr>
					<td bgcolor="#0f0">
						<!-- 刪除商品 
						呼叫 confirmLink('xxx')
						-->
						<a href="/addtocart/remove/{{ forloop.counter0 }}" class="delcart" onclick="confirmLink('確定刪除此商品嗎 ?'); return document.returnValue">
							刪除
						</a>
					</td>
					<!-- unit.0 => 商品名稱 -->
					<td align="left">{{ unit.0 }}</td>

					<!-- unit.1 => 價格 -->
					<td width="80" align="center">${{ unit.1 }}</td>

					<!-- unit.2 => 數量 -->
					<!-- qty => 變數:數量 -->
					<!-- 
					forloop 有三個值
					forloop.counter0   從0 開始遞增 
					qty1
					qty2
					qty3
					-->
					<td width="80" align="center"><input type="text" name='qty{{ forloop.counter0 }}' id="qty{{ forloop.counter0 }}" value="{{  unit.2}}" size="2" /></td>

					<!-- unit.3 => 總額 -->
					<td width="100" align="center"><strong>$ {{ unit.3 }}</strong></td>
				</tr>

			{% endfor %}

			<!--
			以下內容在 cart.views 的 def cart 73行
			-->

			<tr>
				<td colspan="4" align="left" bgcolor="#fff" class="upline">
					<strong>小計</strong>
				</td>
				<td align="center" bgcolor="#fff" class="upline">
					$ {{ total }}
				</td>
			</tr>

			<tr>
				<td colspan="4" align="left" bgcolor="#fff" class="upline">
					<strong>運費</strong>
				</td>
				<td align="center" bgcolor="#fff" class="upline">
					$ 100
				</td>
			</tr>

			<tr>
				<td colspan="4" align="left" bgcolor="#fff" class="upline">
					<strong>總計</strong>
				</td>
				<td align="center" bgcolor="#fff" class="upline">
					<strong>
						<font color="f00">
							$ {{ grandtotal }}
						</font>
					</strong>
				</td>
			</tr>

		</table>

		<table border="0" align="center" cellpadding="10" cellspacing="0">
			<tr>
				<td>
					<input type="button" name="Continue" value="繼續購物" onclick="window.location='/product' " />
				</td>
				<td>
					<input type="submit" name="Submit" value="更新購物車" />
				</td>
				<td>
					<input type="button" name="Empty" onclick="window.location='/addtocart/empty' " value="清空購物車">
				</td>
				<td>
					<input type="button" name="Order" onclick="window.location='/cartorder' " value="我要結帳" />
				</td>
			</tr>
		</table>
		
	</form>
	
</div>

{% endblock %}