{% extends 'BasePage.html' %}

{% block pageTitle %}
會員管理
{% endblock %}

{% block css %}
<link href='/static/css/contact.css' rel='stylesheet'>
{% endblock %}


{% block mainContent %}

<div style="margin-top: 50px;"></div>

<div id='message'>
	<p class="subject">密碼變更</p>
	<span>{{ msg }}</span> 

	<form class="contact_form" action="" method="post" >
		{% csrf_token %}

		<div class="form-group">
			<label>舊密碼</label>
			<input type="password" name="oldpwd" class="form-control" required>
		</div>

		<div class="form-group">
			<label>新確認密碼</label>
			<input type="password" name="newpwd" class="form-control" required>
		</div>


		<div class="form-group">
			<button type="submit" class="btn_submit">變更
			</button>
		</div>
	</form>
</div>

{% endblock %}