{% extends 'BasePage.html' %}

{% block pageTitle %}
我的訂單紀錄
{% endblock %}

{% block css %}
<link href='/static/css/cart.css' rel='stylesheet'>
{% endblock %}


{% block mainContent %}

<div style="margin-top: 50px;"></div>

<div id='maindiv'>
	<p class="title" align="center">我的訂單紀錄</p>	

	<table width="90%" border="0" align="center" cellpadding="4" cellspacing="1">

		<tr>
			<th bgcolor="#ccc">訂單日期</th>
			<th width="100" bgcolor="#ccc">總額</th>
			<th width="100" bgcolor="#ccc">付款方式</th>
		</tr>

		{% for unit in order %}
		<tr>
			<td align="center">{{ unit.create_date }}</td>
			<td align="center">{{ unit.grandtotal }}</td>
			<td align="center">{{ unit.paytype }}</td>
		</tr>
		{% endfor %}

	</table>
</div>

{% endblock %}