{% extends 'BasePage.html' %}

{% block pageTitle %}
新聞
{% endblock %}

{% block css %}
<link rel='stylesheet' href="/static/css/news.css">
{% endblock %}

{% block mainContent %}
	
	<!-- newslist => news.views.def news  -->
	{% for item in newslist %}

	<!-- 使用 Django 從資料庫抓資料 不用使用 [] , 直接指定欄位名稱 -->
		<div class="newsArea">
			
			<div class="newsImg">
				<!-- 如果照片長度 > 10 就印出原本照片-->
				{% if item.photo|length > 10 %}
					<img src="{{ item.photo }}">
				<!-- 否則就把 static/images/news.jpg 取代原本的圖 -->
				{% else %}
					<img src="/static/images/news.jpg">

				{% endif %}
			</div>
			<div class="newsTitle">
				<p>{{ item.title }}</p>
			</div>
		</div>

	{% endfor %}

	<div style="clear: both; height: 60px; padding-top: 100px; text-align: center; margin-bottom: 30px; font-weight: bold; font-size: 22px; ">
		
		<!-- 判斷有無上一頁  -->
		{% if newslist.has_previous %}

			<a href="?page={{ newslist.previous_page_number }}">上一頁</a>

		{% endif %}

		<!-- 判斷有無下一頁  -->
		{% if newslist.has_next %}

			<a href="?page={{newslist.next_page_number}}">下一頁</a>

		{% endif %}

	</div>



{% endblock %}

