{% extends 'BasePage.html' %}

{% block pageTitle %}
公司績效
{% endblock %}

{% block css %}
<link href='/static/css/sales.css' rel='stylesheet'>
{% endblock %}




{% block mainContent %}

	<div class="hot">
		
		<!-- 對應 performance.views -->
		{% for item in data %}
		<div class="hotbar">

			<div class="hotleft">
				<img src="{{ item.photos }}">
			</div>
			<div class="hotright">
				<p>{{ item.create_date }}</p>
				<p>{{ item.title }}</p>
				<p>{{ item.info }}</p>
			</div>
		</div>
		{% endfor %}

	</div>

{% endblock %}