{% extends 'BasePage.html' %}

{% block pageTitle %}
圖片上傳
{% endblock %}

{% block css %}
<link href='/static/css/photos.css' rel='stylesheet'>
{% endblock %}


{% block mainContent %}

<div style="margin-top: 50px;"></div>
<h1 style="text-align: center; font-size: 40px;">圖片區</h1>

<!--
在表單中若要上傳檔案時，一定要在 form 表單中屬性加上 enctype="multipart/from-data"   才可以上傳
-->

<div class="main">
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

			<div class="form-row">
				<div class="form-group col-md-4">
				</div>

				<div class="form-group col-md-4">
					{{ form.image }}
				</div>

				<div class="form-group col-md-4">
				</div>	
			</div>


			<div class="form-row" style="margin-top:10px">
				<div class="form-group col-md-4">
				</div>

				<div class="form-group col-md-4">
					<input type="submit" class="btn btn-primary" value="上傳" />
				</div>

				<div class="form-group col-md-4">
				</div>	
			</div>
	</form>


	<div class="row">
		
		{% for photo in photos %}

			<!-- 如果 photo.image 裡面有圖片-->
			{% if photo.image %}

				<div class="col-md-4">
					<div class="card mb-4 shadow">
						<!--   -->
						<img src=" {{ photo.image.url }} " class="card-img-top">
					</div>				
				</div>

			{% endif %}

		{% endfor %}
	</div>
</div>

{% endblock  %}