{% extends 'BasePage.html' %}

{% block pageTitle %}
產品資訊
{% endblock %}

{% block css %}
<link rel='stylesheet' href="/static/css/goods.css">
{% endblock %}

{% block mainContent %}

	<div style="height: 60px; margin: 30px;">
		<!-- action -> 回傳 ， method -> 回傳方式  -->
		<form action='' method='get'>

			產品關鍵字:<input type="text" name='p' />
			<p></p>

			價格區間:<input type="text" name='priceS' /> ~ <input type="text" name="priceE" />
			<p></p>

			<input type="submit" value="查詢" />
		</form>
	</div>

	<div class="goodsArea">
		{% for row in allGoods %}

			<div class="info">
				<!-- target='_blank' -> 新窗口開啟網頁 -->
				<a href="{{ row.good_url }}" target="_blank">
					<img src="{{ row.photo_url }}">
				</a>
				<p>{{ row.name }}</p>
				<span>NT:{{ row.price }}</span>
				<a href="/addtocart/add/{{ row.id }}">購買</a>
			</div>

		{% endfor %}
	</div>

	<!-- 上下頁  -->
	<div style="float:left; clear: both; height: 60px; padding-top: 100px; text-align: center; width: 100%; font-size: 22px;">

		<!--  判斷有無前一頁 -->
		{% if allGoods.has_previous %}

			<!-- &p &priceS &priceE 都是因為程式碼 -->
			<a href="?page={{ allGoods.previous_page_number }} 
			&p={{ goodsName }} &priceS={{ sprice }} 
			&priceE={{ eprice }} ">上一頁</a>

		{% endif %}

		<!-- 判斷有無下一頁 -->
		{% if allGoods.has_next %}

			<!-- &p &priceS &priceE 都是因為程式碼 -->
			<a href="?page={{ allGoods.next_page_number }} 
			&p={{ goodsName }} &priceS={{ sprice }} 
			&priceE={{ eprice }} ">下一頁</a>

		{% endif %}

	</div>




{% endblock %}