{% extends 'BasePage.html' %}

{% block pageTitle %}
會員註冊
{% endblock %}

{% block css %}
<link href='/static/css/contact.css' rel='stylesheet'>
{% endblock %}

{% block js %}
<script type="text/javascript">
	function checkPwd(){
		var p = document.getElementsByName('pwd')[0].value;
		var p2 = document.getElementsByName('repwd')[0].value;
		if ( p == p2 ){
			return true;
		}else{
			alert('密碼配對有誤，請重新輸入');
			return false;
		}
	}


</script>
{% endblock %}

{% block mainContent %}

<div style="margin-top: 50px;"></div>

<div id='message'>
	<p class="subject">會員註冊</p>
	<span>{{ msg }}</span> 

	<form class="contact_form" action="" method="post" onsubmit="return checkPwd()">
		{% csrf_token %}
		<div class="form-group">
			<label>姓名</label>
			<input type="text" name="userName" class="form-control" required>
		</div>

		<div class="form-group">
			<label>email</label>
			<input type="email" name="email" class="form-control" required>
		</div>

		<div class="form-group">
			<label>密碼</label>
			<input type="password" name="pwd" class="form-control" required>
		</div>

		<div class="form-group">
			<label>再次確認密碼</label>
			<input type="password" name="repwd" class="form-control" required>
		</div>

		<div class="form-group">
			<label>性別</label>
			<input type="radio" name="sex" value="F" checked />女生
			<input type="radio" name="sex" value="M" />男生
		</div>

		<div class="form-group">
			<label>生日</label>
			<input type="text" name="birthday" class="form-control" required>
		</div>

		<div class="form-group">
			<label>地址</label>
			<input type="text" name="address" class="form-control" required>
		</div>


		<div class="form-group">
			<button type="submit" class="btn_submit">註冊
			</button>
		</div>
	</form>
</div>

{% endblock %}