#message{
	margin-left: 30%;
	margin-bottom: 10%;
}

.contact_form{
	border: 1px solid #ccc;
	border-radius: 4px; /* 圓弧  */
	padding: 0.5em 0.6em;
	font-size: 100%;
	line-height: 1.15; /* 間距  */
	width: 400px;
	margin-bottom: 100px;
}

.form-control{
	border: 1px solid #ccc;
	border-radius: 4px; /* 圓弧  */
	padding: 0.5em 0.6em;
	font-size: 100%;
	line-height: 1.15; /* 間距  */
	width: 400px;
}

.form-group{
	margin: 2%;
}

.subject{
	font-size: 30px;
	font-weight: bold; /* 粗字體  */
}

.btn-submit{
	background-color: #00f;
	color: #fff;
	padding: 0.5em 1em;
	border: transparent; /* 邊框線透明  */
}