body{

	width: 100%;
	height: 100%;
	font-family: 微軟正黑體,sans-serif,Arial;
	font-size: 16px;
	margin: 0;

}



#wrapper{
	min-height: 100%;
	margin-bottom: -50px;	
}
/* 布板 */
#banner{
	width: 100%;
	height: 83px;
}

/* logo */
#logo{
	width: 201px;
	height: 44px;
	/* no-repeat  不要做重複堆疊  */
	background: url('../images/logo.jpg') no-repeat;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}

#menu{

	float: left;
	width: 70%;
	margin-top: 30px;

}
#menu li{
	float: left;
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
}
#menu ul{

}
#menu a{
	/* 沒有底線  */
	text-decoration: none;
}
.menutxt{

	font-weight: 800;
	color:rgb(0,110,147) ;

}


#content{
	min-height: 100%;
}

#content a{
	/* 沒有底線  */
	text-decoration: none;
	color: #000;
}



/*  廣告 */
#ad{
	width: 100%;
	height: 200px;
}

#ad img{
	width: 100%;
}

#footer{
	clear: both;
	height: 50px;
	background-color: #006b93;
	color: #fff;
}
#footer span{
	color: #fff;
	width: 50%;
	margin-left: 30%;
	line-height: 50px;
}

