.newsArea{
	float: left;
	padding: 2%;
	width: 28%;
	height: 250px;
	margin-top: 30px;
}

.newsImg{
	float: left;
	width: 100%;
}
.newsImg img{
	width: 100%;
	height: 200px;
}

.newsTitle{
	float: left;
	width: 100%;
}

/* 這是母版的 content , 只應用在 news.css */
 #content{
	margin-left: 10%;
	margin-right: 10%;
}

#content a{
	padding: 10px;
}
